.background img{
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
}

.Text {
    position: absolute;
    z-index: 1;
    top: 50%; 
    left: 100px ;
    color: white; 
    font-size: 100px; 
    font-weight: 800; 
}