* {
    margin: 0;
    padding: 0;
}

.login{
    z-index: 4;
}
.wrapper {
    background-size: cover; 
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Đảm bảo rằng nền sẽ trải đều trên toàn bộ kích thước màn hình */
  }
