.popup {
    position: fixed;
    top: 50%; /* Căn giữa theo chiều dọc */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Di chuyển popup về giữa */
    width: 80%; /* Độ rộng của popup */
    max-width: 600px; /* Giới hạn độ rộng tối đa */
    height: auto; /* Chiều cao tự động điều chỉnh */
    background-color: rgba(255, 255, 255, 0.9); /* Màu nền và độ trong suốt */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.trip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 100px; /* Dịch chuyển bảng xuống phía dưới */
}

.trip-table {
    width: 80%;
    margin: 20px auto; /* Canh giữa bảng */
}

.trip-table th,
.trip-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.trip-table th {
    background-color: #007bff;
    color: white;
}

.trip-table td {
    background-color: #f8f9fa;
}
