.wrapper {
  background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Đảm bảo rằng nền sẽ trải đều trên toàn bộ kích thước màn hình */
}

.vehicle-pagination {
  button:hover {
    background-color: #e8e8e8;
    color: black;
  }

  .active-page {
    background-color: #7f7c7c;
    color: white;
  }
}

.wofsearch{
  width: 30rem;
}
