*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  

  .NavbarItems {
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    left: 35px;
    transform: translate ;
    z-index: 3;
  
  }
  
  .navbar-logo {
    color: rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    cursor: pointer;
  
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    padding-top: 13px;
  }
  
  .nav-menu li {
    margin-right: 10px; 
    list-style: none;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #333; 
    font-size: 1.2rem; 
    font-weight: 600;
    padding: 10px; 
    margin-right: 10px; 
    white-space: nowrap;
  }
  
  .nav-menu a:hover {
  color: #fff ;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  }
  
  .nav-link-mobile {
    display: none;
  }
  
  button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  /* button:hover {
    background-color: #fff;
    color: #333;
    font-weight: 1000;
  
  
  } */
  
  
  @media screen and (max-width: 850px) {
  
    .NavbarItems {
      z-index: 99;
    }
    .nav-menu{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: white;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 0;
      align-items: stretch;
      padding: 80px 0 30px 0;
      margin: 0;
      
    }
  
    .nav-menu.active{
      left: 0;
      opacity: 1;
      z-index: -1;
  
    }
  
    .nav-menu a{
      display: block;
      width: 100%;
      font-size: 1.2rem;
      padding: 2rem 0;
    }
  
    .nav-menu a:hover{
      background: #fff;
      transition: none;
  
    }
  
    button {
      display: none;
    }
  
    .nav-link-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: auto;
      border-radius: 4px;
      width: 80%;
      background: white;
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
  
    .menu-icons {
      display: none;
    }
  
  
  }
  
  .logo img{
  width: 100px;
  height: auto;
  
  }
  
  .logo img:hover {
    cursor: pointer;
  }
  
/* .button-signin{
} */