.bar {
    background-color: transparent !important;
    box-shadow: none; 
  }
  
.tool {
display: flex;
justify-content: space-between;
color: black;
}

.tool a {
color: black; 
text-decoration: none; 
font-weight: bold; 
margin: 0 10px; 
}

